{% extends 'JobeetJobBoardBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/jobeetjobboard/css/jobs.css') }}" />
{% endblock %}

{% block title %}Jobs in the {{ category.name }} category{% endblock %}

{% block body -%}
    <div class="category">
      <div class="feed">
        <a href="">Feed</a>
      </div>
      <h1>{{ category.name }}</h1>
    </div>

    {{ include('JobeetJobBoardBundle:Job:list.html.twig', { 'jobs': jobs }) }}
{% endblock %}
