{% extends 'JobeetJobBoardBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/jobeetjobboard/css/jobs.css') }}" />
{% endblock %}

{% block body -%}
    <div id="jobs">
      {% for category in categories %}
        <div class="category_jobs">
          <div class="category">
            <div class="feed">
              <a href="">Feed</a>
            </div>
            <h1><a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.name }}</a></h1>
          </div>

          {{ render(controller('JobeetJobBoardBundle:Job:listByCategory', { 'category': category })) }}
        </div>
      {% endfor %}
    </div>
{% endblock %}
