<table class="jobs">
  {% for job in jobs %}
    <tr class="{{ cycle(['even', 'odd'], loop.index) }}">
      <td class="location">{{ job.location }}</td>
      <td class="position">
        <a href="{{ path('job_show', { 'slug': job.slug }) }}">
          {{ job.position }}
        </a>
      </td>
      <td class="company">{{ job.company }}</td>
    </tr>
  {% endfor %}
</table>

{% if count > jobs|length %}
  <div class="more_jobs">
    and <a href="{{ path('category_show', { 'slug': category.slug }) }}">{{ count - jobs|length }}</a>
    more...
  </div>
{% endif %}
