{% extends 'JobeetJobBoardBundle::layout.html.twig' %}

{% block title %}{{ job.company }} is looking for a {{ job.position }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/jobeetjobboard/css/job.css') }}" />
{% endblock %}

{% block body -%}
    <div id="job">
      <h1>{{ job.company }}</h1>
      <h2>{{ job.location }}</h2>
      <h3>
        {{ job.position }}
        <small> - {{ job.type }}</small>
      </h3>

      {% if job.logoPath %}
        <div class="logo">
          <a href="{{ job.url }}">
            <img src="{{ asset("bundles/jobeetjobboard/uploads/jobs/#{job.logoPath}") }}"
              alt="{{ job.company }} logo" />
          </a>
        </div>
      {% endif %}

      <div class="description">
        <p>{{ job.description|nl2br }}</p>
      </div>

      <h4>How to apply?</h4>

      <p class="how_to_apply">{{ job.howToApply|nl2br }}</p>

      <div class="meta">
        <small>posted on {{ job.createdAt|date('m/d/Y') }}</small>
      </div>

      <div style="padding: 20px 0">
        <a href="{{ path('job_edit', { 'id': job.id }) }}">
          Edit
        </a>
      </div>
    </div>
{% endblock %}
